package views

templ NotFound() {
    <!DOCTYPE html>
    <html lang="ru">
       <head>
          <meta charset="UTF-8">
          <title>404</title>
          <link
             rel="stylesheet"
             href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.min.css"
             >
       </head>
       <body class="container">
          <br>
          <h1>Страница не найдена :(</h1>
          <a href="/articles">Вернуться на главную</a>
       </body>
    </html>
}