package views

import "github.com/google/uuid"

type SocialNetwork struct {
	ID uuid.UUID

	Name       string
	OwnerLogin string

	Type string

	APIKey    string
	ChannelID string
}


templ NewSocials(socials []*SocialNetwork) {
    <!DOCTYPE html>
    <html lang="ru">
       <head>
          <meta charset="UTF-8">
          <title>Панель управления</title>
          <link
             rel="stylesheet"
             href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.min.css"
             >
          <script>
            const namesSrc = {
               "create": {
                  "method": "POST",
                  "title": "Создать новую соц сеть",
                  "header": "Заполните нужную информацию для создания новой соц сети",
                  "button": "Создать",
                  "error": "Не получилось создать"
               },
               "edit": {
                  "method": "PUT",
                  "title": "Редактирование соц сети",
                  "header": "Измените нужную информацию",
                  "button": "Сохранить",
                  "error": "Не получилось отредактировать"
               }
            }

            function validateForm(formData) {
               for (let [key, val] of formData.entries()) {
                  if (val === "") {
                     alert(`Поле '${key}' не должно быть пустым`)
                     return false
                  }
               }

               return true
            }

            function createDialog(param, id = "", name = "", type_ = "", apiKey = "", channelID = "") {
               const names = namesSrc[param]

               const dialogHTML = `
                        <article>
                           <header>
                              <button aria-label="close" rel="prev" id="close-dialog"></button>
                              <p>
                                 <strong>${names["title"]}</strong>
                              </p>
                           </header>
                           <p>
                              <u>${names["header"]}</u>
                           </p>
                           <form id="create-form">
                              <label>
                              Имя
                              <input type="text" name="name" placeholder="Группа Теле2" value="${name}">
                              </label>
                              <label>
                                Соц сеть
                                <select id="select-theme" name="type" aria-label="Выберите тип..." required>
                                   <option selected disabled value="">
                                      Выберите соц сеть...
                                   </option>
                                   <option>VK</option>
                                   <option>Telegram</option>
                                </select>
                             </label>
                              <label>
                              API ключ
                              <input type="text" name="apikey" placeholder="1234" value="${apiKey}">
                              </label>
                              <label>
                              Канал/Группа
                              <input type="text" name="channelID" placeholder="t.me/durov" value="${channelID}">
                              </label>
                           </form>
                           <footer>
                              <button id="dialog-btn">${names["button"]}</button>
                           </footer>
                        </article>
                             `

               const dialog = document.createElement('dialog');
               dialog.open = true;
               dialog.innerHTML = dialogHTML;

               dialog.querySelector("#close-dialog").onclick = function() {
                  dialog.parentNode.removeChild(dialog);
               }


                // выбираем type_
                const selectElement = dialog.querySelector('#select-theme');
                const optionToSelect = Array.from(selectElement.options).find(option => option.text === type_);

                if (optionToSelect) {
                    optionToSelect.selected = true;
                }

               const form = dialog.querySelector("form")

               dialog.querySelector("#dialog-btn").addEventListener("click", function(event) {
                  event.preventDefault()

                  const formData = new FormData(form);

                  if (!validateForm(formData)) {
                     return
                  }

                  let obj = Object.fromEntries(formData)
                  if (id !== "") {
                     obj["id"] = id
                  }

                  const json = JSON.stringify(obj);

                  fetch('/api/social', {
                     method: names["method"],
                     headers: {
                        'Content-Type': 'application/json'
                     },
                     body: json
                  }).then(response => {
                     if (response.status !== 201 && response.status !== 202) {
                        response.text().then(function(text) {
                           alert(`${names["error"]}: ${text}`)
                        })
                        return
                     }

                     location.reload();

                  }).catch(err => alert(`Не получилось отправить запрос на сервер ${err}`))
               })

               document.body.appendChild(dialog)
            }

            window.onload = function() {
               document.querySelector("#create-social").onclick = function() {
                  createDialog("create")
               }

               document.querySelectorAll(".social").forEach(el => {
                  const id = el.getAttribute("data-uuid")

                  const name = el.querySelector("h5").textContent
                  const type_ = el.getAttribute("data-type")
                  const apiKey = el.getAttribute("data-apiKey")
                  const channelID = el.getAttribute("data-channelID")

                  el.querySelector("button.edit").addEventListener("click", function() {
                     createDialog("edit", id, name, type_, apiKey, channelID)
                  })

                  el.querySelector("button.delete").addEventListener("click", function() {
                     fetch('/api/social', {
                        method: 'DELETE',
                        headers: {
                           'Content-Type': 'text/plain'
                        },
                        body: id
                     }).then(response => {
                        if (response.status !== 200) {
                           response.text().then(function(text) {
                              alert(`Не получилось удалить: ${text}`)
                           })
                           return
                        }

                        location.reload();

                     }).catch(err => alert(`Не получилось отправить запрос на сервер ${err}`))
                  })
               })
            };
          </script>
       </head>
       <body class="container">
          <br>
          <nav>
             <ul>
                <li>
                   <h1>Добро пожаловать в AI-feed!</h1>
                </li>
             </ul>
             <ul>
                <li><a href="/articles">Статьи</a></li>
                <li><a href="/themes">Темы</a></li>
                <li><a href="/personalities">Личности</a></li>
                <li><a href="/socials">Соц сети</a></li>
             </ul>
          </nav>
          <br>
          <div>
             <button class="container" id="create-social">Добавить новую соц сеть</button>
             <br><br>
             <div>
                for _, social := range socials {
                <article class="social" data-uuid={social.ID.String()} data-name={social.Name} data-type={social.Type} data-apiKey={social.APIKey} data-channelID={social.ChannelID}>
                   <div class="grid">
                      <h5>{social.Name}</h5>
                      <div class="grid">
                         <button class="outline edit">Редактировать</button>
                         <button class="outline secondary delete">Удалить</button>
                      </div>
                   </div>
                </article>
                }
             </div>
          </div>
       </body>
    </html>
}